.container {
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-content: center;
}

.slide1 {
    background: url('img/vap1.jpg');
}

.slide2 {
    background: url('img/vap2.jpg');
}

.slide3 {
    background: url('img/vap3.jpg');
}

.slide {
    display: flex;
    min-width: 95vw;
    height: 75vh;
    top: 5%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: absolute;
    /*overflow-x: hidden;*/
}

.text_slider {
    color: rgb(49, 49, 49);
    translate: 15% 75%;
    font-family: impact, sans-serif;
    font-size: 2.8vw;
}

.text_slider1 {
    color: rgb(49, 49, 49);
    translate: 30% 62%;
    font-family: impact, sans-serif;
    font-size: 2.8vw;
}

.arrow {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
    /*background: rgba(0, 0, 0, 0.1);*/
    border-radius: 50%;
    /*transform: background 500ms;*/
}

.arrow img{
    width: 60px;
}

.l {
    left: 0;
    transform: translateX(90%);
}

.r {
    right: 0;
    transform: translateX(-90%);
}

.button1 {
    position: absolute;
    translate: -580% 1400%;
    height: 5%;
    width: 7%;
    border-radius: 0.5rem;
    border: none;
    background: #e6be2a;
    color: rgb(255, 255, 255);
    font-size: 2vh;
    
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.text_slider, .text_slider1, .button {
    animation: slideInFromBottom 5s ease forwards;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 890px) {

    .slide {
        min-width: 100vw;
    }
}